
<div class="centered-content">
    <div class="login-box">
        <h1 class="title has-text-link">Login</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input #emailInput type="email" class="input has-background-light" placeholder="Email">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </p>
        </div>
        <div class="field">
            <p class="control has-icons-left">
                <input #passwordInput type="password" class="input has-background-light" placeholder="Password">
                <span class="icon is-small is-left">
                    <i class="fas fa-lock"></i>
                </span>
            </p>
        </div>
        <div class="field is-pulled-right">
            <p class="control">
                <button class="button is-link has-text-white" (click)="onLoginButtonClicked(emailInput.value , passwordInput.value)">
                    Login
                </button>
            </p>
        </div>
    </div>
</div>
