@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap');

$turquoise: #156fd6;
$blue: #0d2185;
$light-blue: #2e9cdb;

$dark-blue: #100763;

$light: #f8f8f8;

$familt-sans-serif: 'Nunito', sans-serif;

$primary: $blue;
$link: $light-blue;

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

html {
    background: linear-gradient(to right top, $turquoise, $blue);
}

html, body {
    height: 100%;
}

.centered-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.modal-box {
    min-height: 200px;
    max-width: 600px;
    width: 100%;
    background: white;
    border-radius: 5px;
    padding: 35px;
}

.title {
    font-family: 'Lato';
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}